* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: sans-serif;
}



/* utilities */

.flex {
    display: flex;
}

.grow {
    flex-grow: 1;
}

.red {
    color: red;
}




/* content */

/* header */
header {
    background-color: #ff6801;
    color: #fff;
    position: fixed;
    width: 100%;
    height: 50px;
    padding: 0px 185px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;

}

.menu {
    width: 100%;
}

.genere>*,
.miniloghi>* {
    padding: 0 5px;
    font-size: 12px;
}


.miniloghi {
    justify-content: flex-end;
}

.logo {
    height: 20px;
}

/* main */

main {
    padding: 100px 170px 30px;
    flex-grow: 1;
}

section {
    display: flex;
    flex-wrap: wrap;
    row-gap: 40px;
}

.card {
    width: calc(100% / 3 - 30px);
    margin: 0 15px;
    position: relative;
}

img {
    width: 100%;
    border-radius: 10px;
}

.hover-img {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
}

.card>div {
    font-size: 0.8rem;
}

.oldprice {
    text-decoration: line-through;
    color: black;
}

.hearth {
    position: absolute;
    top: 10px;
    right: 0px;
    background-color: white;
    padding: 13px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.card:hover .hover-img {
    display: inline;
}

.hearth:hover {
    color: red;
    cursor: pointer;
}

.sales {
    position: absolute;
    bottom: 70px;
    left: 0px;
    background-color: red;
    padding: 3px;
    color: #fff;
}

.sustenibility {
    position: absolute;
    bottom: 70px;
    left: 40px;
    background-color: green;
    padding: 0px;
    color: #fff;
    padding: 3px;
}

.sustenibility-without-sales {
    position: absolute;
    bottom: 70px;
    left: 0px;
    background-color: green;
    padding: 0px;
    color: #fff;
    padding: 3px;
}

/* footer */
footer {
    background-color: #1a1a1a;
    color: #fff;
    width: 100%;
    height: 80px;
    padding: 0px 185px;
    bottom: 0px;
}

.footer {
    width: 100%;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

.society-name {
    font-size: 0.8rem;
}


.info>* {
    padding: 0 5px 0 0;
}


h4 {
    font-size: 12px;
}

.social-logos>* {
    font-size: 12px;
    padding: 10px 5px 0 0;
}